<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products Description</title>
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static',filename='/logo/favicon.png') }}">


    <!-- <link rel="stylesheet" href="/assets/css/products.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/Products/products.css') }}">
    <!-- Vendor Script -->
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

</head>

<body>

    <div class="container">
        <div class="imgBx">
            <img src="{{ url_for('static',filename='Assets/userimage/'+desc.image) }}" alt="Saitama shoes">
        </div>
        
        <div class="details">
            <div class="content">
                <h2>{{desc.title}}<br>
                    <span>{{desc.productType}}</span>
                </h2>
                <p>
                    {{desc.description}}
                </p>
                <h3>Rs. {{desc.price}}</h3>
                <button class="buy_button">Buy Now</button>
            </div>
        </div>
    </div>

    <script>
        $(".product-colors span").click(function() {
            $(".product-colors span").removeClass("active");
            $(this).addClass("active");
        });
    </script>

</body>

</html>
