<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- title of page -->
    <title>SusPrints | Login</title>

    <!-- login css -->
    <link rel="stylesheet" href="{{ url_for('static',filename='/css/Login/login.css') }}">

    <!-- for icons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='/bootstraps/bootstrap.min.css') }}">

    <!-- For favicon png -->
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static',filename='/logo/favicon.png') }}">

</head>

<body>
    <div class="login-container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>
                {%with messages = get_flashed_messages(with_categories=true)%}

                <form action="" method ="POST">
                    {{form_login.hidden_tag()}}
                    <div class="input-field">
                        {{form_login.email(placeholder="Enter your email")}}
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    {% if form_login.email.errors %}
                        {% for error in form_login.errors %}
                            <span class="text-danger">Please enter a valid {{error}}</span>
                        {% endfor %}
                    {% endif %}
                    {%if messages%}
                    <!--  -->
                    {%for category, msg in messages%}
                    <!--  -->
                    {%if category == 'Email-Not-Found'%}
                    <span class="text-danger">{{msg}}</span>
                    {%endif%}
                    {%endfor%}
                    <!--  -->
                    {%endif%}
                    <div class="input-field">
                        {{form_login.password(class="password",placeholder="Enter your password" )}}
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    {%if messages%}
                    <!--  -->
                    {%for category, msg in messages%}
                    <!--  -->
                    {%if category == 'Password-Incorrect'%}
                    <span class="text-danger">{{msg}}</span>
                    {%endif%}
                    {%endfor%}
                    <!--  -->
                    {%endif%}
                    <div class="input-field button">
                        {{form_login.submit(value="Login")}}
                    </div>
                </form>
                {%endwith%}
                <div class="login-signup">
                    <span class="text">Not a member?
                        <a href="/register" class="text signup-link">Signup Now</a>
                    </span>
                </div>
            </div>
    </div>
    <script src="{{ url_for('static',filename='/js/login.js') }}"></script>
    <script src="{{ url_for('static',filename='/js/bootstrap.min.js') }}"></script>
</body>
</html>

